/* styles.css */

/* Reset default margin and padding */
body,
h1,
p,
a {
  margin: 0;
  padding: 0;
}

/* Set the background color and font styles for the page */
body {
  font-family: Arial, sans-serif;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  /* Adjust the left distance as needed */
  background-color: #050500;
  padding: 1px;
  border-radius: 60px;
  /* Adjust the border radius as needed */
}

.logo-container img {
  width: 120px;
  /* Adjust the width as needed */
  height: auto;
  /* Adjust the height as needed */
}
.logo-container:hover{
  background-color: #f6df10;
  color: rgb(216, 51, 51);
  font-size: large;
  font-weight: bold;
}


/* Style the hero section */
.hero {
  background-image: url("/assets/fashion.jpg");
  /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 90px;
  color: #5c0b60;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  text-shadow: 1px 1px 9px rgb(177, 17, 127);
  stroke: rgb(16, 1, 3);
  cursor: pointer;
}

.hero p {
  font-size: 25px;
  color: #07383b;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: oblique;
  text-shadow: 1px 1px 9px rgb(255, 162, 1);
  stroke: rgb(253, 7, 40);
  cursor: pointer;
}

.hero .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d29f519d;
  color: #050500;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.hero .btn:hover {
  background-color: #9358a8;
  color: black;
  font-size: large;
  font-weight: bold;
}
